

body {
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
} 

.logo img {
    width: 291.11px;
    height: 39.27px;
}

.row img { 
    width: 407px;
    height: 407px;
}

.btn-custom {
    width: 170px;
    height: 60px;
}


.title {
    padding-left: 150px;
}

.title h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #363958;
}

.highlight {
    color: #FA804C;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.header-p{
    font-size: 15px;
    width: 80%;
}

.img {
    border-radius: 20px;
    
}

 .catagories img {
    width: 236px;
    height: 262px;
    border-radius: 20px
}

.shoes-card-footer {
    border: 0;
    background-color: white;
}

.shoes-card {
    border: 0;
}

.bottom {
    border: black solid;
}

.bottom img {
    width: 80px;
    height: 60px;
    margin-right: 80px;
}

.bottom p {
    width: 70%;

}

.card-tittle {
    color: #363958 ;
    font-family: 'Bebas Neue', cursive;
}

.price {
    color: #FA804C;
    
}