
/* font-family: 'Roboto', sans-serif;
font-family: 'Bebas Neue', cursive;
 */

.logo img {
    width: 291.11px;
    height: 39.27px;
}

.row img { 
    width: 407px;
    height: 407px;
} */

.btn-custom {
    width: 170px;
    height: 60px;
}